Django==3.2.10 
djangorestframework==3.13.1 
gunicorn==20.1.0 
mysqlclient==2.1.0 
django-cors-headers==3.10.1 
django-project-version==0.16.0 
GitPython==3.1.26
dynaconf==3.1.8 
ruamel.yaml==0.17.21
--extra-index-url=https://quanttide-pypi.pkg.coding.net/qtopen-django/drf-remote-auth/simple
drf-remote-auth==0.1.0
--extra-index-url=https://quanttide-pypi.pkg.coding.net/qtopen-django/drf-admin/simple
drf-admin==0.2.0