# Django框架
Django==4.0.8
djangorestframework==3.13.1
gunicorn==20.1.0
# PostgreSQL数据库
psycopg2-binary==2.9.4; platform_system != "Windows"
psycopg2==2.9.4; platform_system == "Windows"

# --- 项目特定依赖 ---
# 声明式配置库
dynaconf==3.1.11
# CORS策略
django-cors-headers==3.13.0
